astroid==2.5.2
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
cx-Freeze==6.5.3
importlib-metadata==3.10.0
iniconfig==1.1.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyinstaller==4.8
pylint==2.7.4
pyparsing==2.4.7
PyPDF2==1.26.0
SecureString==0.2
pytest==6.2.3
toml==0.10.2
wrapt==1.12.1
zipp==3.4.1
